<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.traffic.bcm.dao.IRptDriverHourDao" >
  <resultMap id="BaseResultMap" type="com.rtmap.traffic.bcm.domain.RptDriverHour" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stats_hour" property="statsHour" jdbcType="TIMESTAMP" />
    <result column="building_no" property="buildingNo" jdbcType="VARCHAR" />
    <result column="driver_no" property="driverNo" jdbcType="VARCHAR" />
    <result column="effect_work_mins" property="effectWorkMins" jdbcType="INTEGER" />
    <result column="trip_distance" property="tripDistance" jdbcType="INTEGER" />
    <result column="pass_count" property="passCount" jdbcType="INTEGER" />
    <result column="scan_pass_count" property="scanPassCount" jdbcType="INTEGER" />
    <result column="photo_pass_count" property="photoPassCount" jdbcType="INTEGER" />
    <result column="manual_add_pass_count" property="manualAddPassCount" jdbcType="INTEGER" />
    <result column="scan_hurried_pass_count" property="scanHurriedPassCount" jdbcType="INTEGER" />
    <result column="scan_hurried_rate" property="scanHurriedRate" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, stats_hour, building_no, driver_no, effect_work_mins, trip_distance, pass_count, 
    scan_pass_count, photo_pass_count, manual_add_pass_count, scan_hurried_pass_count, 
    scan_hurried_rate, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rpt_driver_hour
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rpt_driver_hour
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtmap.traffic.bcm.domain.RptDriverHour" >
    insert into rpt_driver_hour (id, stats_hour, building_no, 
      driver_no, effect_work_mins, trip_distance, 
      pass_count, scan_pass_count, photo_pass_count, 
      manual_add_pass_count, scan_hurried_pass_count, 
      scan_hurried_rate, create_time)
    values (#{id,jdbcType=INTEGER}, #{statsHour,jdbcType=TIMESTAMP}, #{buildingNo,jdbcType=VARCHAR}, 
      #{driverNo,jdbcType=VARCHAR}, #{effectWorkMins,jdbcType=INTEGER}, #{tripDistance,jdbcType=INTEGER}, 
      #{passCount,jdbcType=INTEGER}, #{scanPassCount,jdbcType=INTEGER}, #{photoPassCount,jdbcType=INTEGER}, 
      #{manualAddPassCount,jdbcType=INTEGER}, #{scanHurriedPassCount,jdbcType=INTEGER}, 
      #{scanHurriedRate,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rtmap.traffic.bcm.domain.RptDriverHour" >
    insert into rpt_driver_hour
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="statsHour != null" >
        stats_hour,
      </if>
      <if test="buildingNo != null" >
        building_no,
      </if>
      <if test="driverNo != null" >
        driver_no,
      </if>
      <if test="effectWorkMins != null" >
        effect_work_mins,
      </if>
      <if test="tripDistance != null" >
        trip_distance,
      </if>
      <if test="passCount != null" >
        pass_count,
      </if>
      <if test="scanPassCount != null" >
        scan_pass_count,
      </if>
      <if test="photoPassCount != null" >
        photo_pass_count,
      </if>
      <if test="manualAddPassCount != null" >
        manual_add_pass_count,
      </if>
      <if test="scanHurriedPassCount != null" >
        scan_hurried_pass_count,
      </if>
      <if test="scanHurriedRate != null" >
        scan_hurried_rate,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="statsHour != null" >
        #{statsHour,jdbcType=TIMESTAMP},
      </if>
      <if test="buildingNo != null" >
        #{buildingNo,jdbcType=VARCHAR},
      </if>
      <if test="driverNo != null" >
        #{driverNo,jdbcType=VARCHAR},
      </if>
      <if test="effectWorkMins != null" >
        #{effectWorkMins,jdbcType=INTEGER},
      </if>
      <if test="tripDistance != null" >
        #{tripDistance,jdbcType=INTEGER},
      </if>
      <if test="passCount != null" >
        #{passCount,jdbcType=INTEGER},
      </if>
      <if test="scanPassCount != null" >
        #{scanPassCount,jdbcType=INTEGER},
      </if>
      <if test="photoPassCount != null" >
        #{photoPassCount,jdbcType=INTEGER},
      </if>
      <if test="manualAddPassCount != null" >
        #{manualAddPassCount,jdbcType=INTEGER},
      </if>
      <if test="scanHurriedPassCount != null" >
        #{scanHurriedPassCount,jdbcType=INTEGER},
      </if>
      <if test="scanHurriedRate != null" >
        #{scanHurriedRate,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtmap.traffic.bcm.domain.RptDriverHour" >
    update rpt_driver_hour
    <set >
      <if test="statsHour != null" >
        stats_hour = #{statsHour,jdbcType=TIMESTAMP},
      </if>
      <if test="buildingNo != null" >
        building_no = #{buildingNo,jdbcType=VARCHAR},
      </if>
      <if test="driverNo != null" >
        driver_no = #{driverNo,jdbcType=VARCHAR},
      </if>
      <if test="effectWorkMins != null" >
        effect_work_mins = #{effectWorkMins,jdbcType=INTEGER},
      </if>
      <if test="tripDistance != null" >
        trip_distance = #{tripDistance,jdbcType=INTEGER},
      </if>
      <if test="passCount != null" >
        pass_count = #{passCount,jdbcType=INTEGER},
      </if>
      <if test="scanPassCount != null" >
        scan_pass_count = #{scanPassCount,jdbcType=INTEGER},
      </if>
      <if test="photoPassCount != null" >
        photo_pass_count = #{photoPassCount,jdbcType=INTEGER},
      </if>
      <if test="manualAddPassCount != null" >
        manual_add_pass_count = #{manualAddPassCount,jdbcType=INTEGER},
      </if>
      <if test="scanHurriedPassCount != null" >
        scan_hurried_pass_count = #{scanHurriedPassCount,jdbcType=INTEGER},
      </if>
      <if test="scanHurriedRate != null" >
        scan_hurried_rate = #{scanHurriedRate,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtmap.traffic.bcm.domain.RptDriverHour" >
    update rpt_driver_hour
    set stats_hour = #{statsHour,jdbcType=TIMESTAMP},
      building_no = #{buildingNo,jdbcType=VARCHAR},
      driver_no = #{driverNo,jdbcType=VARCHAR},
      effect_work_mins = #{effectWorkMins,jdbcType=INTEGER},
      trip_distance = #{tripDistance,jdbcType=INTEGER},
      pass_count = #{passCount,jdbcType=INTEGER},
      scan_pass_count = #{scanPassCount,jdbcType=INTEGER},
      photo_pass_count = #{photoPassCount,jdbcType=INTEGER},
      manual_add_pass_count = #{manualAddPassCount,jdbcType=INTEGER},
      scan_hurried_pass_count = #{scanHurriedPassCount,jdbcType=INTEGER},
      scan_hurried_rate = #{scanHurriedRate,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>