<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.traffic.bcm.dao.IRptPassDistributeDao" >
  <resultMap id="BaseResultMap" type="com.rtmap.traffic.bcm.domain.RptPassDistribute" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stats_day" property="statsDay" jdbcType="DATE" />
    <result column="building_no" property="buildingNo" jdbcType="VARCHAR" />
    <result column="take_time" property="takeTime" jdbcType="TIMESTAMP" />
    <result column="x_point" property="xPoint" jdbcType="INTEGER" />
    <result column="y_point" property="yPoint" jdbcType="INTEGER" />
    <result column="flt_no" property="fltNo" jdbcType="VARCHAR" />
    <result column="estimated_depature_time" property="estimatedDepatureTime" jdbcType="TIMESTAMP" />
    <result column="gate_no" property="gateNo" jdbcType="VARCHAR" />
    <result column="x_gate_point" property="xGatePoint" jdbcType="INTEGER" />
    <result column="y_gate_point" property="yGatePoint" jdbcType="INTEGER" />
    <result column="take_distance" property="takeDistance" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, stats_day, building_no, take_time, x_point, y_point, flt_no, estimated_depature_time, 
    gate_no, x_gate_point, y_gate_point, take_distance, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rpt_pass_distribute
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rpt_pass_distribute
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtmap.traffic.bcm.domain.RptPassDistribute" >
    insert into rpt_pass_distribute (id, stats_day, building_no, 
      take_time, x_point, y_point, 
      flt_no, estimated_depature_time, gate_no, 
      x_gate_point, y_gate_point, take_distance, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{statsDay,jdbcType=DATE}, #{buildingNo,jdbcType=VARCHAR}, 
      #{takeTime,jdbcType=TIMESTAMP}, #{xPoint,jdbcType=INTEGER}, #{yPoint,jdbcType=INTEGER}, 
      #{fltNo,jdbcType=VARCHAR}, #{estimatedDepatureTime,jdbcType=TIMESTAMP}, #{gateNo,jdbcType=VARCHAR}, 
      #{xGatePoint,jdbcType=INTEGER}, #{yGatePoint,jdbcType=INTEGER}, #{takeDistance,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rtmap.traffic.bcm.domain.RptPassDistribute" >
    insert into rpt_pass_distribute
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="statsDay != null" >
        stats_day,
      </if>
      <if test="buildingNo != null" >
        building_no,
      </if>
      <if test="takeTime != null" >
        take_time,
      </if>
      <if test="xPoint != null" >
        x_point,
      </if>
      <if test="yPoint != null" >
        y_point,
      </if>
      <if test="fltNo != null" >
        flt_no,
      </if>
      <if test="estimatedDepatureTime != null" >
        estimated_depature_time,
      </if>
      <if test="gateNo != null" >
        gate_no,
      </if>
      <if test="xGatePoint != null" >
        x_gate_point,
      </if>
      <if test="yGatePoint != null" >
        y_gate_point,
      </if>
      <if test="takeDistance != null" >
        take_distance,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="statsDay != null" >
        #{statsDay,jdbcType=DATE},
      </if>
      <if test="buildingNo != null" >
        #{buildingNo,jdbcType=VARCHAR},
      </if>
      <if test="takeTime != null" >
        #{takeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="xPoint != null" >
        #{xPoint,jdbcType=INTEGER},
      </if>
      <if test="yPoint != null" >
        #{yPoint,jdbcType=INTEGER},
      </if>
      <if test="fltNo != null" >
        #{fltNo,jdbcType=VARCHAR},
      </if>
      <if test="estimatedDepatureTime != null" >
        #{estimatedDepatureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gateNo != null" >
        #{gateNo,jdbcType=VARCHAR},
      </if>
      <if test="xGatePoint != null" >
        #{xGatePoint,jdbcType=INTEGER},
      </if>
      <if test="yGatePoint != null" >
        #{yGatePoint,jdbcType=INTEGER},
      </if>
      <if test="takeDistance != null" >
        #{takeDistance,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtmap.traffic.bcm.domain.RptPassDistribute" >
    update rpt_pass_distribute
    <set >
      <if test="statsDay != null" >
        stats_day = #{statsDay,jdbcType=DATE},
      </if>
      <if test="buildingNo != null" >
        building_no = #{buildingNo,jdbcType=VARCHAR},
      </if>
      <if test="takeTime != null" >
        take_time = #{takeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="xPoint != null" >
        x_point = #{xPoint,jdbcType=INTEGER},
      </if>
      <if test="yPoint != null" >
        y_point = #{yPoint,jdbcType=INTEGER},
      </if>
      <if test="fltNo != null" >
        flt_no = #{fltNo,jdbcType=VARCHAR},
      </if>
      <if test="estimatedDepatureTime != null" >
        estimated_depature_time = #{estimatedDepatureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gateNo != null" >
        gate_no = #{gateNo,jdbcType=VARCHAR},
      </if>
      <if test="xGatePoint != null" >
        x_gate_point = #{xGatePoint,jdbcType=INTEGER},
      </if>
      <if test="yGatePoint != null" >
        y_gate_point = #{yGatePoint,jdbcType=INTEGER},
      </if>
      <if test="takeDistance != null" >
        take_distance = #{takeDistance,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtmap.traffic.bcm.domain.RptPassDistribute" >
    update rpt_pass_distribute
    set stats_day = #{statsDay,jdbcType=DATE},
      building_no = #{buildingNo,jdbcType=VARCHAR},
      take_time = #{takeTime,jdbcType=TIMESTAMP},
      x_point = #{xPoint,jdbcType=INTEGER},
      y_point = #{yPoint,jdbcType=INTEGER},
      flt_no = #{fltNo,jdbcType=VARCHAR},
      estimated_depature_time = #{estimatedDepatureTime,jdbcType=TIMESTAMP},
      gate_no = #{gateNo,jdbcType=VARCHAR},
      x_gate_point = #{xGatePoint,jdbcType=INTEGER},
      y_gate_point = #{yGatePoint,jdbcType=INTEGER},
      take_distance = #{takeDistance,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByCond" resultMap="BaseResultMap"
		parameterType="com.rtmap.traffic.bcm.domain.PassCond">
		select
		<include refid="Base_Column_List" />
		from rpt_pass_distribute
		where <![CDATA[ stats_day >= #{beginStatsDay,jdbcType=DATE} and stats_day < #{endStatsDay,jdbcType=DATE} ]]>
		<if test="buildingNo != null">
			and building_no = #{buildingNo,jdbcType=VARCHAR}
		</if>
		group by stats_day
	</select>
</mapper>