<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.traffic.bcm.dao.IRptVehicleTripHourDao" >
  <resultMap id="BaseResultMap" type="com.rtmap.traffic.bcm.domain.RptVehicleTripHour" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stats_hour" property="statsHour" jdbcType="TIMESTAMP" />
    <result column="building_no" property="buildingNo" jdbcType="VARCHAR" />
    <result column="vehicle_no" property="vehicleNo" jdbcType="VARCHAR" />
    <result column="trip_distance" property="tripDistance" jdbcType="INTEGER" />
    <result column="theory_trip_distance" property="theoryTripDistance" jdbcType="INTEGER" />
    <result column="saturation" property="saturation" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, stats_hour, building_no, vehicle_no, trip_distance, theory_trip_distance, saturation, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rpt_vehicle_trip_hour
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rpt_vehicle_trip_hour
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtmap.traffic.bcm.domain.RptVehicleTripHour" >
    insert into rpt_vehicle_trip_hour (id, stats_hour, building_no, 
      vehicle_no, trip_distance, theory_trip_distance, 
      saturation, create_time)
    values (#{id,jdbcType=INTEGER}, #{statsHour,jdbcType=TIMESTAMP}, #{buildingNo,jdbcType=VARCHAR}, 
      #{vehicleNo,jdbcType=VARCHAR}, #{tripDistance,jdbcType=INTEGER}, #{theoryTripDistance,jdbcType=INTEGER}, 
      #{saturation,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rtmap.traffic.bcm.domain.RptVehicleTripHour" >
    insert into rpt_vehicle_trip_hour
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="statsHour != null" >
        stats_hour,
      </if>
      <if test="buildingNo != null" >
        building_no,
      </if>
      <if test="vehicleNo != null" >
        vehicle_no,
      </if>
      <if test="tripDistance != null" >
        trip_distance,
      </if>
      <if test="theoryTripDistance != null" >
        theory_trip_distance,
      </if>
      <if test="saturation != null" >
        saturation,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="statsHour != null" >
        #{statsHour,jdbcType=TIMESTAMP},
      </if>
      <if test="buildingNo != null" >
        #{buildingNo,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null" >
        #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="tripDistance != null" >
        #{tripDistance,jdbcType=INTEGER},
      </if>
      <if test="theoryTripDistance != null" >
        #{theoryTripDistance,jdbcType=INTEGER},
      </if>
      <if test="saturation != null" >
        #{saturation,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtmap.traffic.bcm.domain.RptVehicleTripHour" >
    update rpt_vehicle_trip_hour
    <set >
      <if test="statsHour != null" >
        stats_hour = #{statsHour,jdbcType=TIMESTAMP},
      </if>
      <if test="buildingNo != null" >
        building_no = #{buildingNo,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null" >
        vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="tripDistance != null" >
        trip_distance = #{tripDistance,jdbcType=INTEGER},
      </if>
      <if test="theoryTripDistance != null" >
        theory_trip_distance = #{theoryTripDistance,jdbcType=INTEGER},
      </if>
      <if test="saturation != null" >
        saturation = #{saturation,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtmap.traffic.bcm.domain.RptVehicleTripHour" >
    update rpt_vehicle_trip_hour
    set stats_hour = #{statsHour,jdbcType=TIMESTAMP},
      building_no = #{buildingNo,jdbcType=VARCHAR},
      vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      trip_distance = #{tripDistance,jdbcType=INTEGER},
      theory_trip_distance = #{theoryTripDistance,jdbcType=INTEGER},
      saturation = #{saturation,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>