<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.traffic.bcm.dao.IRptVehicleChargeDayDao" >
  <resultMap id="BaseResultMap" type="com.rtmap.traffic.bcm.domain.RptVehicleChargeDay" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stats_day" property="statsDay" jdbcType="DATE" />
    <result column="building_no" property="buildingNo" jdbcType="VARCHAR" />
    <result column="vehicle_no" property="vehicleNo" jdbcType="VARCHAR" />
    <result column="charge_count" property="chargeCount" jdbcType="INTEGER" />
    <result column="charge_minutes" property="chargeMinutes" jdbcType="INTEGER" />
    <result column="average_distance" property="averageDistance" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, stats_day, building_no, vehicle_no, charge_count, charge_minutes, average_distance, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rpt_vehicle_charge_day
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rpt_vehicle_charge_day
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtmap.traffic.bcm.domain.RptVehicleChargeDay" >
    insert into rpt_vehicle_charge_day (id, stats_day, building_no, 
      vehicle_no, charge_count, charge_minutes, 
      average_distance, create_time)
    values (#{id,jdbcType=INTEGER}, #{statsDay,jdbcType=DATE}, #{buildingNo,jdbcType=VARCHAR}, 
      #{vehicleNo,jdbcType=VARCHAR}, #{chargeCount,jdbcType=INTEGER}, #{chargeMinutes,jdbcType=INTEGER}, 
      #{averageDistance,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rtmap.traffic.bcm.domain.RptVehicleChargeDay" >
    insert into rpt_vehicle_charge_day
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="statsDay != null" >
        stats_day,
      </if>
      <if test="buildingNo != null" >
        building_no,
      </if>
      <if test="vehicleNo != null" >
        vehicle_no,
      </if>
      <if test="chargeCount != null" >
        charge_count,
      </if>
      <if test="chargeMinutes != null" >
        charge_minutes,
      </if>
      <if test="averageDistance != null" >
        average_distance,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="statsDay != null" >
        #{statsDay,jdbcType=DATE},
      </if>
      <if test="buildingNo != null" >
        #{buildingNo,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null" >
        #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="chargeCount != null" >
        #{chargeCount,jdbcType=INTEGER},
      </if>
      <if test="chargeMinutes != null" >
        #{chargeMinutes,jdbcType=INTEGER},
      </if>
      <if test="averageDistance != null" >
        #{averageDistance,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtmap.traffic.bcm.domain.RptVehicleChargeDay" >
    update rpt_vehicle_charge_day
    <set >
      <if test="statsDay != null" >
        stats_day = #{statsDay,jdbcType=DATE},
      </if>
      <if test="buildingNo != null" >
        building_no = #{buildingNo,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null" >
        vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="chargeCount != null" >
        charge_count = #{chargeCount,jdbcType=INTEGER},
      </if>
      <if test="chargeMinutes != null" >
        charge_minutes = #{chargeMinutes,jdbcType=INTEGER},
      </if>
      <if test="averageDistance != null" >
        average_distance = #{averageDistance,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtmap.traffic.bcm.domain.RptVehicleChargeDay" >
    update rpt_vehicle_charge_day
    set stats_day = #{statsDay,jdbcType=DATE},
      building_no = #{buildingNo,jdbcType=VARCHAR},
      vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      charge_count = #{chargeCount,jdbcType=INTEGER},
      charge_minutes = #{chargeMinutes,jdbcType=INTEGER},
      average_distance = #{averageDistance,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByCond" resultMap="BaseResultMap"
		parameterType="com.rtmap.traffic.bcm.domain.VehicleCond">
		select
		<include refid="Base_Column_List" />
		from rpt_vehicle_charge_day
		where <![CDATA[ stats_day >= #{beginStatsDay,jdbcType=DATE} and stats_day < #{endStatsDay,jdbcType=DATE} ]]>
		<if test="buildingNo != null">
			and building_no = #{buildingNo,jdbcType=VARCHAR}
		</if>
		<if test="vehicleNo != null">
			and vehicle_no = #{vehicleNo,jdbcType=VARCHAR}
		</if>
	</select>
</mapper>