<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtmap.traffic.bcm.dao.ISysMenuDao">
	<resultMap id="BaseResultMap" type="com.rtmap.traffic.bcm.domain.SysMenu">
		<id column="menu_no" jdbcType="CHAR" property="menuNo" />
		<result column="menu_name" jdbcType="VARCHAR" property="menuName" />
		<result column="parent_menu_no" jdbcType="CHAR" property="parentMenuNo" />
		<result column="menu_order" jdbcType="INTEGER" property="menuOrder" />
		<result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
		<result column="priv_cd" jdbcType="VARCHAR" property="privCd" />
		<result column="is_enabled" jdbcType="BIT" property="isEnabled" />
	</resultMap>
	<sql id="Base_Column_List">
		menu_no, menu_name, parent_menu_no, menu_order, menu_url, priv_cd, is_enabled
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_menu
		where menu_no = #{menuNo,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sys_menu
		where menu_no = #{menuNo,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.rtmap.traffic.bcm.domain.SysMenu">
		insert into sys_menu (menu_no, menu_name, parent_menu_no,
		menu_order, menu_url, priv_cd,
		is_enabled)
		values (#{menuNo,jdbcType=CHAR}, #{menuName,jdbcType=VARCHAR},
		#{parentMenuNo,jdbcType=CHAR},
		#{menuOrder,jdbcType=INTEGER}, #{menuUrl,jdbcType=VARCHAR}, #{privCd,jdbcType=VARCHAR},
		#{isEnabled,jdbcType=BIT})
	</insert>
	<insert id="insertSelective" parameterType="com.rtmap.traffic.bcm.domain.SysMenu">
		insert into sys_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="menuNo != null">
				menu_no,
			</if>
			<if test="menuName != null">
				menu_name,
			</if>
			<if test="parentMenuNo != null">
				parent_menu_no,
			</if>
			<if test="menuOrder != null">
				menu_order,
			</if>
			<if test="menuUrl != null">
				menu_url,
			</if>
			<if test="privCd != null">
				priv_cd,
			</if>
			<if test="isEnabled != null">
				is_enabled,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="menuNo != null">
				#{menuNo,jdbcType=CHAR},
			</if>
			<if test="menuName != null">
				#{menuName,jdbcType=VARCHAR},
			</if>
			<if test="parentMenuNo != null">
				#{parentMenuNo,jdbcType=CHAR},
			</if>
			<if test="menuOrder != null">
				#{menuOrder,jdbcType=INTEGER},
			</if>
			<if test="menuUrl != null">
				#{menuUrl,jdbcType=VARCHAR},
			</if>
			<if test="privCd != null">
				#{privCd,jdbcType=VARCHAR},
			</if>
			<if test="isEnabled != null">
				#{isEnabled,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.rtmap.traffic.bcm.domain.SysMenu">
		update sys_menu
		<set>
			<if test="menuName != null">
				menu_name = #{menuName,jdbcType=VARCHAR},
			</if>
			<if test="parentMenuNo != null">
				parent_menu_no = #{parentMenuNo,jdbcType=CHAR},
			</if>
			<if test="menuOrder != null">
				menu_order = #{menuOrder,jdbcType=INTEGER},
			</if>
			<if test="menuUrl != null">
				menu_url = #{menuUrl,jdbcType=VARCHAR},
			</if>
			<if test="privCd != null">
				priv_cd = #{privCd,jdbcType=VARCHAR},
			</if>
			<if test="isEnabled != null">
				is_enabled = #{isEnabled,jdbcType=BIT},
			</if>
		</set>
		where menu_no = #{menuNo,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.rtmap.traffic.bcm.domain.SysMenu">
		update sys_menu
		set menu_name = #{menuName,jdbcType=VARCHAR},
		parent_menu_no = #{parentMenuNo,jdbcType=CHAR},
		menu_order = #{menuOrder,jdbcType=INTEGER},
		menu_url = #{menuUrl,jdbcType=VARCHAR},
		priv_cd = #{privCd,jdbcType=VARCHAR},
		is_enabled = #{isEnabled,jdbcType=BIT}
		where menu_no = #{menuNo,jdbcType=CHAR}
	</update>
	<select id="selectAllEnabled" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_menu
		where is_enabled = 1
	</select>
</mapper>