<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtmap.traffic.bcm.dao.ISysUserRoleDao">
	<resultMap id="BaseResultMap" type="com.rtmap.traffic.bcm.domain.SysUserRole">
		<id column="user_cd" jdbcType="VARCHAR" property="userCd" />
		<id column="role_cd" jdbcType="VARCHAR" property="roleCd" />
	</resultMap>
	<sql id="Base_Column_List">
		user_cd, role_cd
	</sql>
	<select id="selectRoleCdsByUserCd" parameterType="java.lang.String"
		resultType="java.lang.String">
		select role_cd from sys_user_role where user_cd = #{userCd,jdbcType=VARCHAR}
	</select>
</mapper>