<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.traffic.bcm.dao.IBuildingDao">
	<resultMap id="BaseResultMap" type="com.rtmap.traffic.bcm.domain.Building">
		<id column="building_no" property="buildingNo" jdbcType="VARCHAR" />
		<result column="building_name" property="buildingName"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		building_no, building_name
	</sql>
	<select id="selectAll" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from building
	</select>
</mapper>