<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.traffic.bcm.dao.ILocationDao">
	<resultMap id="BaseResultMap" type="com.rtmap.traffic.bcm.domain.Location">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="building_no" property="buildingNo" jdbcType="VARCHAR" />
		<result column="floor_no" property="floorNo" jdbcType="VARCHAR" />
		<result column="driver_no" property="driverNo" jdbcType="VARCHAR" />
		<result column="vehicle_no" property="vehicleNo" jdbcType="VARCHAR" />
		<result column="x_point" property="xPoint" jdbcType="INTEGER" />
		<result column="y_point" property="yPoint" jdbcType="INTEGER" />
		<result column="gather_time" property="gatherTime" jdbcType="TIMESTAMP" />
		<result column="gather_status" property="gatherStatus"
			jdbcType="INTEGER" />
		<result column="partition_no" property="partitionNo" jdbcType="VARCHAR" />
		<result column="is_cross_border" property="isCrossBorder"
			jdbcType="BIT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, building_no, floor_no, driver_no, vehicle_no, x_point,
		y_point,
		gather_time,
		gather_status, partition_no, is_cross_border
	</sql>
	<select id="selectEffectCoordinatesByCond" resultMap="BaseResultMap"
		parameterType="com.rtmap.traffic.bcm.domain.LocationCond">
		select x_point, y_point from ${tableName}
		where <![CDATA[ gather_time >= #{beginTime,jdbcType=TIMESTAMP} and gather_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
		<if test="buildingNo != null">
			and building_no = #{buildingNo,jdbcType=VARCHAR}
		</if>
		<if test="floorNo != null">
			and floor_no = #{floorNo,jdbcType=VARCHAR}
		</if>
		<if test="driverNo != null">
			and driver_no = #{driverNo,jdbcType=VARCHAR}
		</if>
		<if test="vehicleNo != null">
			and vehicle_no = #{vehicleNo,jdbcType=VARCHAR}
		</if>
		and gather_status = 0 order by gather_time
	</select>
	<select id="selectLocationTableName" parameterType="java.lang.String"
		resultType="java.lang.String">
		show tables like #{tableName}
	</select>
</mapper>